@charset 'utf-8';
body {
    background: #00a651;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.app-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    header{
        width: 100%;
        height: 300px;
        padding: 10px 0;
        box-sizing: border-box;
        background: #222;
        color: #fff;
    }
    main>div{
        box-sizing: border-box;        
        width: 100%;
        min-height: 500px;
        padding: 20px 20px;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        // align-items: center;
        justify-content: space-between;
        section{
            height: 200px;
            width: 30%;
            border: 1px darkgray dashed;
            padding: 10px 10px;
            .app-item{
                text-decoration: none;
            }
            .app-item-logo{
                max-width: 100px;
                border-radius: 50%;
            }
            p{
                word-break: break-all;
                overflow: hidden;
                line-height: 24px;
                color:#555;
                font-size: 14px;
            }
        }
    }
};
